.container {
  margin: 10px;
}

.content {
  display: flex;
  margin: 10px 20px;
}

.center {
  display: flex;
  justify-content: center;
  items-align: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.more-button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
